<div class="flex justify-center boton w-4/12 mx-auto">
  <input type="checkbox" (click)="mostrar()" class="mx-2" checked><span>Esta activo</span>
</div>
<ng-template #aviso>
  <p class="text-center">Activa el checkbox para mostrar el contenido</p>
</ng-template>
<div *ngIf="estado; else aviso" class="w-4/12 mx-auto">
  <div class="border-2">
    <div class="bg-slate-500 flex justify-center">
      <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg">
    </div>
    <div class="p-3">
      <h2 class="text-4xl">Angular</h2>
      <p>Angular es un framework para aplicaciones web desarrollado en typescript, de codigo abierto, mantenido por google, que se utiliza para crear y mantener aplicaciones web de una sola página.</p>
    </div>
  </div>
</div>